<h1> Business Reviews From the Fox Crew </h1>

<ul>
  <% @businesses.each do |business| %>
    <li> 
      <%= link_to "#{business.name} by #{business.team}", business_path(business) %> 
    </li>
  <% end %>
</ul>